<% if Rails.env.development?
	#TODO: SET PROPER HOST INFORMATION
	host = "10.211.55.3:3000"
else
	host = "www.ultrakast.com"
end %>

<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>
<body>
	Hello, <%= @friend.name %> - 
	<%= @user.name %> has sent you a friend request.<br />
</body>
</html>