<ul>
	<li>
		<%= link_to "View all categories", switchfeed_path(:filter_title => "", :category_filter => Category.all.collect { |cat| cat.id }), :remote => true %>
	</li>
	<% current_user.categories.each do |category| %>
		<li>
		<% if category.ancestry.nil? %>
		    <%= link_to category.name, switchfeed_path(:category_filter => category.children.collect{ |u| u.id }, :filter_title => category.name), :remote => true, :class => "parent-link" %>
		<% else %>
			<%= link_to category.name, switchfeed_path(:category_filter => category.id, :filter_title => category.name), :remote => true %>
			<em><%= Post.unread_count(current_user, category) %></em>
		<% end %>
		</li>
	<% end %>
</ul>