<ul>
	<li>
		<%= link_to "View all categories", switchfeed_path(:category_filter => current_user.category_ids, :filter_title => "all categories"), :remote => true %>
	</li>
	<% current_user.categories.each do |category| %>
		<li>
		<% if category.ancestry.nil? %>
		    <%= link_to category.name, switchfeed_path(:category_filter => category.children.collect{ |u| u.id }, :filter_title => category.name), :remote => true, :class => "parent-link" %>
		<% else %>
			<%= link_to category.name, switchfeed_path(:category_filter => category.id, :filter_title => category.name), :remote => true %>
		<% end %>
		</li>
	<% end %>
</ul>