<div id="feed-items">
	<% if @feed_items.any? %>
		<%= will_paginate @feed_items, :renderer => 'BootstrapLinkRenderer', :base_link_url => 'static_pages/switchfeed', :inner_window => 2, :next_label => '&raquo;', :previous_label => '&laquo;'	%>
    	<ol class="posts">
      		<%= render partial: 'shared/feed_item', collection: @feed_items %>
    	</ol>
	<% end %>
</div>