<% unless session[:category_filter] == "all" %>

<% get_friends %>

<div id="friend_avatars">
<strong>Your friends also subscribed to <%= session[:filter_title] %>:</strong><br /><br />
<% @friends.each do |f| %>
  <%= link_to avatar_for(f, size: "square"), f %>
<% end %>
</div>
<% end %>