<% get_friends %>
<div id="friend-avatars" class="cf">
	<% unless @friends.nil? %>
		<% unless session[:category_filter] == "all" %>
			<strong>Your friends interested in <%= session[:filter_title] %>:</strong><br /><br />
		<% else %>
			<strong>Your friends:</strong><br /><br />
		<% end %>
		<% @friends.each do |f| %>
			<%= link_to avatar_for(f, size: "square"), f %>
		<% end %>
	<% end %>
</div>