@import "bootstrap";

#category-list, #category-checklist {
	letter-spacing: -1px;
	margin-bottom: 30px;
	
	ul {
		list-style: none;
		margin-left: 0;
	}
	
	
	.parent {
		font-size: 1.7em;
		font-weight: bold;
		color: black;
		margin-bottom: 10px;
	}
	
	.child {
		font-size: 1.25em;
		font-weight: normal;
		color: $grayLight;
		margin-bottom: 10px;
	}
}

#category-list {
	text-align: center;
	
	li {
		margin-left: 0;
	}
}

#category-checklist ul {

	margin-left: 20px;

}