$gridColumns: 12; 
$gridColumnWidth: 75px; 
$gridGutterWidth: 20px; 
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1)); 


@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


html {
	overflow-y: scroll;
}

body {
	padding-top: 140px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
    margin-bottom: 10px;
	}
}

a:focus {
	outline: none;
}

.cf:before,
.cf:after 
{
  content:"";
  display:table;
}

.cf:after 
{
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf 
{
  zoom:1;
}



a.selected-category {
	font-weight: bold;
	color: #fcb514;
}





/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2, h3 {
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	leter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#alerts {	
	display:none;
	border: 3px solid #000;
	background: #ccc;
	position: absolute;
	width: 300px;
	left: 0;
	top: 105%;
	padding: 10px;
}

.delete-link {	
	font-weight: bold;
	color: red;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	
	a {
		color: $gray;
	
		&:hover {
			color: $grayDarker;
		}
	}
	
	small {
		float: left;
	}
	
	ul {
		float: right;
		list-style: none;
		
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		
		h1 {
			font-size: 1.3em;
			text-align: left;
			letter-spacing: 0;
			margin-bottom: 3px;
		}
	}
	
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

.avatar {
	float: left;
	margin-right: 10px;
}

.avatar-edit {
	display: block;

}
			

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}


/* posts */

.posts {
	list-style: none;
	margin: 10px 0 0 0;
	
	li {
		padding: 10px 0 35px 0;
	}
}

.post-container {
	padding: 10px;
	border: 2px solid #314d78;
}

.post-header {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.provider {
	visibility: hidden;
}

.thumb {
	float: left;
	padding: 0 10px 10px 0;
}

.embed {
	display: block;
	margin-top: 10px;
	
}

.description {
	margin-bottom: 10px;
}

.content {
  display: block;
	margin-left: 10px;
	margin-bottom: 20px;
}

.category {
	font-weight: bold;
}

.timestamp {
	color: $grayLight;
}

.delete {
	color: red;
}

.status-bar {
	padding-top: 5px;
	border-top: 1px solid #ccc;
	margin-bottom: 15px;
}

.likes-header {
	margin-left: 2px;
  padding: 0 10px;
}

.favorite-header {
  padding: 0 10px;
  border-left: 1px solid #152133;
}

.comments-header {
  padding: 0 10px;
  border-left: 1px solid #152133;
}

.rekast-link {
	padding-left: 10px;
  border-left: 1px solid #152133;
}

.rekast-form {
	display: none;
}

.rekast {

	margin-top: 10px;
	border-top: 1px solid #dedede;
	padding-top: 10px;
}



.comments {
	display: none;
}

.likes {
	display: none;
}

.comment {
	margin: 10px 5px;
}


/* users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}

#category_links ul {
	list-style: none;
  margin: 0;
}

a.expand-link:hover, a.contract-link:hover {
	text-decoration: none;
}

#category-checklist .expand-link, #category-checklist .contract-link {
	font-size: 1.5em;
}

#category-checklist .expand-link {
  position: relative;
  top: 5px;
}

#category-checklist .contract-link {
  position: relative;
  top: 2px;
  left: 2px;
  padding-right: 8px;
}

#category_links .expand-link, #category_links .contract-link {
	font-size: 2.0em;
}

#category_links .expand-link {
  position: relative;
  top: 2px; 
}

#category_links .contract-link {
  position: relative;
  top: 1px;
  left: 2px;
  padding-right: 6px;
}

#category_links ul.children-list {
	display: none;
  margin-left: 25px;
}

#category-checklist ul.children-list {
	display: none;
  margin-left: 25px;
}

.home-link {
	font-size: 1.4em;
}

.parent-link {
  font-size: 1.4em;
  font-weight: bold;
  color: #152133;;
}

.comment {
	display: block;
	margin: 5px 0;
}


#user-search {
	width:30%;
}

.category-select-link {
	text-decoration: none;
	color: #000;
}

#category-list, #category-checklist {
	letter-spacing: -1px;
	margin-bottom: 30px;
	
	ul {
		list-style: none;
		margin-left: 0;
	}
	
	.parent {
		font-size: 1.7em;
		font-weight: bold;
		color: #152133;
		margin-bottom: 10px;
	}
	
	.child {
		font-size: 1.5em;
		font-weight: normal;
		color: $grayLight;
		margin-bottom: 10px;
	}
}

#category-list {
	text-align: center;
  
	li {
		margin-left: 0;
	}
}

#category-checklist ul {

	margin-left: 20px;

}


/*
#91d6e6: baby blue
#314d78: dark slate blue
#69a3ff: light slate blue
#152133: very dark blue
*/



header {
	background-color: #152133;
	width: 100%;
	
	img {
		padding: 10px;
		width: 341px;
		height: 70px;
	}
}

nav {
	float: right;
	margin-top: 50px;
}

#user-info img {
	float: none;
}

#show-user-info {
  text-align: center;
}

.user-link {
	margin-top: 15px;
}

.user-title {
  margin-bottom: 15px;
}


.left {
	float: left;
}

.right {
	float: right;
}

.pad-right {
	padding-right: 20px;
}

#post-form {
	border-bottom: 3px solid #ddd;
}

#post_category_id {
	width: 210px;
	margin-top: 5px;
}

#post_shared {
  width: 110px;
  margin-top: 5px;
}

#category-dropdown, #privacy-dropdown {
	float: left;
	margin-top: 22px;
}

#privacy-dropdown {
	margin-left: 15px;
}

#post-submit {
	margin: 34px 0 0 60px;
}

#filter-wrap, #user-filter-wrap {
	border-bottom: 3px solid #ddd;
  	padding-top: 15px;
}

#user-filter-wrap {
  margin-bottom: 20px;
}

#image-upload {
  display: block;
  width: 200px;
}

#image-upload-link {
  float: left;
  margin-top: 22px;
  margin-left: 58px;
}

nav ul.nav li a.alert-badge {
    background:         radial-gradient( 5px -9px, circle, white 8%, #91d6e6 26px );
    background:    -moz-radial-gradient( 5px -9px, circle, white 8%, #91d6e6 26px );
    background:     -ms-radial-gradient( 5px -9px, circle, white 8%, #91d6e6 26px );
    background:      -o-radial-gradient( 5px -9px, circle, white 8%, #91d6e6 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #91d6e6 26px );
    background-color: #91d6e6;
    border: 2px solid white;
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 1px 1px 1px black;
    color: #152133;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    height: 16px; 
    padding: 4px 3px 0 3px;
    text-align: center;
    min-width: 14px;
}

nav ul.nav li a.alert-badge {
  position: relative;
  top: 8px;
  left: 0px;
}

.filter-button {
	border: 2px solid #000;
	padding: 2px 10px;
	text-align: center;
	margin: 0;

}

a.filter-button {
	text-decoration: none;
}

.filter-button:hover, .selected {
	border: 2px solid #0000ff;
	background: #eef;
}


#feed-items {
	clear: both;
}

.button-wrap {
	float: left;
	margin: 0 auto 15px auto;
	text-align: center;
}

#filter-title {
	margin-bottom: 15px;
  font-size: 2.0em;
  font-weight: bold;
  text-align: center;
}

#filter-settings, #user-filter-settings {
	text-align: center;
	margin: 0 auto;
}

#filter-settings {
  width: 400px;
}

#user-filter-settings {
  width: 290px;
}



#ads {
  border: 0;
  padding: 0;
  float: right;
}

#ads div.first-advertisement {
  margin-top: 0;
}

.advertisement {
  width: 130px;
  height: 130px;
  margin: 10px 0;
  background: #ddd;
}

#friend-block {
  margin: 0;
  padding: 0;
  float: right;
}

#friend-list {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;

  img {
    margin: 5px;
  }
  
  h2 {
    font-size: 1.25em;
    margin-top: 10px;
  	text-align: center;
  }
}

#images {
  margin: 0 auto;
}


#friend-avatars {
  margin-bottom: 20px;
}

#feed {
  margin-left: 50px;
  margin-right: 50px;
}

#user-feed {
  margin-left: 100px;
}

#user-sidebar h1, #category-sidebar h1 {
  font-size: 1.3em;
	letter-spacing: 0;
	margin-bottom: 3px;
}

.headline {
display: inline;
  position: relative;
  top: -35px;
  left: 5px;
}

#category-sidebar h1 {
  text-align: left;
}