<footer class="footer">
	<div class="container">
    <small>
    	Copyright 2012-2013 <a href="http://www.41northstudios.com">Ultrakast, Inc.</a> - all rights reserved
    </small>
  </div>
</footer>
